In [34]:
import pandas as pd

In [35]:
file = "CR_Agg.csv"
crime_df =  pd.read_csv(file)
crime_df.head()

  STATENAME COUNTYNAME  ADDRESS_CITY  actual  cleared
0   ALABAMA     BLOUNT  BLOUNTSVILLE     153       10
1   ALABAMA     BLOUNT     CLEVELAND       8        0
2   ALABAMA     BLOUNT       ONEONTA    3000      561
3   ALABAMA     BLOUNT         SNEAD     149       26
4   ALABAMA     BUTLER     GEORGIANA     129       24

In [36]:
crime_df["County"] = crime_df["COUNTYNAME"] + ", " + crime_df["STATENAME"]

In [37]:
crime_clean = crime_df.groupby("County").sum()
crime_clean = crime_clean.rename(columns={"actual":"crimes commited","cleared":"cleared crimes"})

In [38]:
crime_clean.head()

                    crimes commited  cleared crimes
County
BLOUNT, ALABAMA                3310             597
BUTLER, ALABAMA                1349             529
CHILTON, ALABAMA               2946             648
COVINGTON, ALABAMA             1872             874
CRENSHAW, ALABAMA               366              50

In [39]:
crime_clean.to_csv("SampleTestCrimeData.csv")