In [1]:
import pandas as pd

In [6]:
file = "full_df.csv"

sample_crime = pd.read_csv(file)
sample_crime

,Unnamed: 0,State,County,City,Peace Officer Count,Total Crimes,Crimes Cleared
0,0,ILLINOIS,FRANKLIN,BENTON,51,594,0
1,1,ILLINOIS,FRANKLIN,BUCKNER,3,0,0
2,2,ILLINOIS,FRANKLIN,CHRISTOPHER,6,40,0
3,3,ILLINOIS,FRANKLIN,FRANKFORT,20,395,0
4,4,ILLINOIS,FRANKLIN,ROYALTON,3,22,0
5,5,ILLINOIS,FRANKLIN,SESSER,5,0,0
6,6,ILLINOIS,FRANKLIN,VALIER,1,0,0
7,7,ILLINOIS,FRANKLIN,WEST CITY,8,170,0
8,8,ILLINOIS,FRANKLIN,ZEIGLER,5,40,0

In [8]:
franklin_crimes = sample_crime['Total Crimes'].sum()
franklin_crimes

1261

In [9]:
franklin_officers = sample_crime['Peace Officer Count'].sum()

In [14]:
franklin = sample_crime.groupby('County').sum()
franklin

          Unnamed: 0  Peace Officer Count  Total Crimes  Crimes Cleared
County
FRANKLIN          36                  102          1261               0

In [15]:
franklin.to_csv("FranklinTestData.csv")